.App {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.NavBar {
    background-color: rgb(190, 140, 190);
}
.NavBar a {
    text-decoration: none;
}

img {
    height: 150px;
}

h1 {
    color: rgb(8, 152, 1);
    font-weight: bolder;
}

.header {
    margin: 30px;
}