.App {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    color: rgb(109, 0, 109);
}

img {
    height: 150px;
}

h1 {
    color: rgb(8, 152, 1);
    font-weight: bolder;
}

.header {
    margin: 30px;
}